<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>cryptoip client</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="app/css/cryptoip.css">
</head>

<body>
  <div ng-app="cryptoipApp">
    <div ng-controller="mainController">
      <div ng-if="isLoaded">
        <div ng-view></div>
      </div>
      <div ng-if="!isLoaded" class="createNewPassSentence">
        <h2 class="title passSentence-title">Pass sentence</h2>
        <h4 class="passSentence">{{passSentence}}</h4>
        <input type="password" class="form-input passSentence-pass" ng-model="code" placeholder="e.g 1234">
        <div class="inline">
          <button class="form-button-outline" ng-click="setupClient(passSentence, false, null)">Skip password</button>
          <button class="form-button" ng-click="setupClient(passSentence, true, code)">Setup password</button>
        </div>
        <p class="text passSentence-ps">PS: If you create a password and forget it there is no way to get back your pass sentence</p>
      </div>
    </div>
  </div>
</body>
<script src="3rdparty/angular.min.js"></script>
<script src="3rdparty/angular-route.min.js"></script>
<script src="3rdparty/socket.io.min.js"></script>
<script src="app/js/aes.js"></script>
<script src="app/js/crypto.js"></script>
<script src="app/js/app.js"></script>

</html>