* {
    margin: 0;
    padding: 0;
}

/* Main */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #232323;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}
.passSentence {
    color: #ccc;
}
.title {
    color: #EEEEFF;
}
.text {
    color: #EEEEFF;
    font-size: 12px;
    width: 250px;
    text-align: left;
    font-style: italic;
}
.inline {
    display: inline;
}
.createNewPassSentence {
    text-align: center;
    width: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-label {
    display: block;
}
.form-input {
    margin: 0 auto;
    background: #333333;
    display: block;
    border: none;
    padding: 5px;
    color: #ffffff;
}
.form-input:focus {
    outline: none;
}
.form-button-outline {
    background: #131313;
    color: #EEEEFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #931621;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.2s;
}

.form-button-outline:hover {
    background: #931621;
    transition: 0.2s;
}

.form-button-outline:focus {
    outline: none;
}
.form-button {
    background: #931621;
    color: #EEEEFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #931621;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.2s;
}

.form-button:hover {
    background: #6E1018;
    transition: 0.2s;
}

.form-button:focus {
    outline: none;
}
.setupClient {
    text-align: center;
    margin: 0 auto;
}
.passSentence-pass {
    margin-top: 25px;
    width: 350px;
}
.passSentence-ps {
    margin-top: 15px;
}
/* Server */
.connect {
    text-align: center;
    margin: 0 auto;
}
.host {
    width: 200px;
}
.connectPanel {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}