@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body, html {
    font-family: 'Montserrat', sans-serif;
    background: #232323;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

/* Main */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #232323;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.passSentence {
    color: #ccc;
}

.title {
    color: #EEEEFF;
}

.text {
    color: #EEEEFF;
    font-size: 12px;
    width: 250px;
    text-align: left;
    font-style: italic;
}

.text-normal {
    color: #ccc;
    font-size: 14px;
    text-align: left;
    width: fit-content;
}

.inline {
    display: inline;
}

.createNewPassSentence {
    text-align: center;
    width: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-label {
    display: block;
}

.form-input {
    margin: 0 auto;
    background: #333333;
    display: block;
    border: none;
    padding: 5px;
    color: #ffffff;
}

.form-input:focus {
    outline: none;
}

.form-button-outline {
    background: #232323;
    color: #EEEEFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #931621;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.2s;
}

.form-button-outline:hover {
    background: #931621;
    transition: 0.2s;
}

.form-button-outline:focus {
    outline: none;
}

.form-button {
    background: #931621;
    color: #EEEEFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #931621;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.2s;
}

.form-button:hover {
    background: #6E1018;
    transition: 0.2s;
}

.form-button:focus {
    outline: none;
}

.setupClient {
    text-align: center;
    margin: 0 auto;
}

.passSentence-pass {
    margin-top: 25px;
    width: 350px;
}

.passSentence-ps {
    margin-top: 15px;
}

/* Server */

.connect {
    text-align: center;
    margin: 0 auto;
}

.host {
    width: 200px;
}

.connectPanel {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.channel-button {
    display: block;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 130px;
    color: #EEEEFF;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.2s;
}

.channel-button:hover {
    -webkit-box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
    -moz-box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
    box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
    transition: 0.2s;
}

.users {
    background: #131313;
    height: 100vh;
    width: 150px;
    padding-top: 5px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.disconnect-button {
    float: right;
    display: inline;
}
.host-title {
    display: inline;
}
.server-info {
    background: #131313;
    padding: 20px;
    z-index: 2;
    border-bottom: #333333 solid 1px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.channel {
    position: absolute;
    left: 150px;
    top: 70px;
    padding: 15px;
}

.channel-button:disabled, .channel-button[disabled] {
    background: #232323;
    cursor:not-allowed;
    box-shadow: none;
}

.messages {
    padding: 10px;
    height: 500px;
    width: 880px;
    margin-top: 5px;
    background: #131313;
    overflow-y: scroll;
}
.button-calling {
    display: inline;
}

.message {
    list-style-type: none;
    word-break:normal;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hangup-button {
    display: inline;
}

.signature-check {
    float: right;
    display: inline;
}

.signature-check .hover {
    display: none;
    color: #ccc;
    position: absolute;
    right: 5%;
    margin-top: -22px;
    max-width: 350px;
    word-break: break-all;
    background: #232323;
    padding: 4px;
}

.signature-check:hover .hover {
    display: block;
}

.message-content {
    display: inline;
}

.message-content .text-normal {
    margin-left: 5px;
    display: inline;
}

.message-send {
    text-align: left;
    width: 890px;
}

.motd {
    position: absolute;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
    user-select: none;
}
.call-button {
    float: right;
    margin-right: 10px;
}
.call-buttons {
    float: right;
    margin-right: 10px;
    display: inline;
}
.button-call {
    display: inline;
}
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(1080px);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(1080px);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(1080px);
        -webkit-transform: translateX(1080px);
        transform: translateX(1080px);
    }
}