<div ng-controller="channelController">
    <div class="server-info">
        <h2 class="title host-title">{{host}}</h2>
        <button class="form-button disconnect-button" ng-click="disconnect()"><i class="fas fa-running"></i> Disconnect</button>
        <div ng-if="isInCall" class="call-buttons">
            <div ng-click="mute()" ng-if="!isMuted" class="button-call">
                <i class="fas fa-microphone form-button-outline button-call"></i>
            </div>
            <div ng-click="mute()" ng-if="isMuted" class="button-call">
                <i class="fas fa-microphone-slash form-button-outline button-call"></i>
            </div>
            <div class="hangup-button" ng-if="isInCall" ng-click="hangup()">
                <i class="fas fa-phone-slash form-button-outline button-call"></i>
            </div>
        </div>
        <div ng-if="!isInCall" ng-click="call()" class="button-calling">
            <i class="fas fa-phone form-button-outline call-button"></i>
        </div>
        <h5 class="title motd">{{motd}}</h5>
    </div>
    <div class="users">
        <div ng-if="channels.length > 0">
            <a class="channel-button" href="#!/channel/main" ng-disabled="currentChannel.name == 'main'">#main</a>
            <a class="channel-button" ng-repeat="client in channels" ng-disabled="client.name == currentChannel.name"
                href="#!/channel/{{client.name}}">
                @{{client.name}}
            </a>
        </div>
        <div ng-if="channels.length === 0">
            <p class="text">No user connected</p>
        </div>
    </div>
    <div class="channel">
        <h4 class="title">{{currentChannel.name}}</h4>
        <div class="messages">
            <li class="message" ng-repeat="message in currentChannel.messages">
                <h5 class="title">{{message.author}}</h5>
                <div class="message-content">
                    <p class="text-normal">{{message.content}}</p>
                    <div class="signature-check" ng-if="message.checked"><i style="color: #19b019;"
                            class="fas fa-check-square"></i>
                        <p class="hover"><strong>Signature:</strong> {{message.signature}} (valid)</p>
                    </div>
                    <div class="signature-check" ng-if="!message.checked"><i style="color: #b02819;"
                            class="fas fa-times"></i>
                        <p class="hover"><strong>Signature:</strong> {{message.signature}} (invalid)</p>
                    </div>
                </div>
            </li>
        </div>
        <form ng-submit="sendMessage(messageToSend, currentChannel.socketId)">
            <input ng-model="messageToSend" class="form-input message-send" type="text"
                placeholder="Message to {{currentChannel.name}}">
        </form>
    </div>
</div>