<div class="connectPanel" ng-controller="homeController">
    <h2 class="title">Connect to a server</h2>
    <label class="title">Username (use your own)</label>
    <input type="text" class="form-input host" ng-model="username" placeholder="e.g dimitri">
    <label class="title">Host</label>
    <input type="text" class="form-input host" ng-model="host" placeholder="e.g 127.0.0.1:3000">
    <div class="connect">
        <button ng-click="connect(host, username)" class="form-button">Connect</button>
    </div>
</div>