.server {
    .dragging {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #1313137c;
        .middle {
            background-color: #232323;
            border-radius: 5px;
            border: 1px solid #333333;
            padding: 15px;
            color: #eeeeff;
            text-align: center;
            .icon {
                font-size: 36px;
                animation: pulse 2s linear infinite;
                margin-bottom: 15px;
            }
        }
    }
    .uploading {
        position: absolute;
        right: 15px;
        bottom: 15px;
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 5px;
        border: 1px solid #1d1d1d;
        background: #131313;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .progressbar {
            background: #232323;
            border-radius: 4px;
            width: 200px;
            height: 20px;
            position: relative;
            .progress {
                background: #931621;
                height: 100%;
                border-radius: 4px;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                .text {
                    font-size: 12px;
                    color: #eeeeff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
    .screenshare {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        height: 90%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        background: #0f0f0f;

        z-index: 99;
        border: 1px solid #1d1d1d;
        .vid {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
        }
        .closebtn {
            position: absolute;
            top: 15px;
            right: 15px;
            background: #000;
            color: #eeeeff;
            border-radius: 4px;
            font-size: 36px;
            border: none;
            width: 45px;
            height: 45px;
            cursor: pointer;
            z-index: 9999;
            &:focus {
                outline: none;
            }
        }
    }
    .dragdrophandler {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        pointer-events: none;
    }
    .title {
        color: #eeeeff;
    }
    .button-call,
    .call-btn,
    .call-buttons {
        display: inline;
        float: right;
        margin-right: 5px;
    }
    .callPanel {
        background: #131313;
        width: 15%;
        height: 80vh;
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            width: 20%;
        }
        @media only screen and (max-height: 900px) {
            height: 70vh;
        }
        margin-right: 10px;
        align-self: center;
        border-radius: 4px;
        padding: 10px;
        .call-list {
            margin-top: 5px;
        }
    }
    .channel {
        padding: 15px;
        margin-top: 20px;
        width: 85%;
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            width: 80%;
        }
        align-self: center;
    }

    .channel-button:disabled,
    .channel-button[disabled] {
        background: #232323;
        cursor: not-allowed;
        box-shadow: none;
    }
    .channel-button {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
        width: 130px;
        color: #eeeeff;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: 0.2s;
        position: relative;
    }
    .notif {
        position: absolute;
        background: #931621;
        border-radius: 50%;
        right: 5px;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        z-index: 4;
        text-align: center;
    }
    .channel-button:hover {
        -webkit-box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
        -moz-box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
        box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
        transition: 0.2s;
    }
    .user-call {
        display: block;
        cursor: pointer;
        user-select: none;
        width: 130px;
        color: #eeeeff;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: 0.2s;
    }
    .users {
        background: #131313;
        height: 100vh;
        width: 150px;
        padding-top: 5px;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    }
    .messages {
        padding: 10px;
        position: relative;
        height: 80vh;
        @media only screen and (max-height: 900px) {
            height: 70vh;
        }
        scroll-behavior: smooth;
        background: #131313;
        border-radius: 4px 4px 0px 0px;
        overflow-y: auto;
    }
    .disconnect-button {
        float: right;
        display: inline;
    }
    .host-title {
        display: inline;
    }
    .server-info {
        background: #131313;
        margin-top: 25px;
        padding: 20px;
        z-index: 2;
        height: 50px;
        border-bottom: #333333 solid 1px;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    }
    .motd {
        position: absolute;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 15s linear infinite;
        -webkit-animation: scroll-left 15s linear infinite;
        animation: scroll-left 15s linear infinite;
        user-select: none;
    }
    .incall {
        width: 85%;
    }
    .message-send {
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0px 0px 4px 4px;
    }
    .incall-input {
        width: 76%;
    }
    .panel {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 150px;
        top: 100px;
        right: 0;
    }
    .message-holder {
        list-style-type: none;
        display: flex;
        margin: 5px;

        .message {
            background: #1d1d1d;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px;
            width: 400px;
            &.mine {
                background: linear-gradient(to bottom left, #6e1018, #931621);
            }
            .message-content {
                display: inline;
                color: #ccc;
            }

            .message-content .text-normal {
                margin-left: 5px;
                overflow-wrap: break-word;
                text-align: justify;
                display: inline;
            }
        }
    }
    .message-file {
        list-style-type: none;
        margin: 5px;

        .file {
            background-color: #1d1d1d;
            padding: 15px;
            border-radius: 4px;
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            width: 400px;
            .title {
                text-decoration: none;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .icon {
                color: #ccc;
                cursor: pointer;
            }
        }
        .img {
            max-width: 350px;
            max-height: 250px;
        }
    }
    .hidden {
        display: none;
    }
    .show {
        display: initial;
    }
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100vw);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100vw);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100vw);
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
