.server {
    .title {
        color: #eeeeff;
    }
    .button-call,
    .call-btn,
    .call-buttons {
        display: inline;
        float: right;
        margin-right: 5px;
    }
    .callPanel {
        background: #131313;
        width: 15%;
        height: 80vh;
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            width: 20%;
        }
        @media only screen and (max-height: 900px) {
            height: 70vh;
        }
        margin-right: 10px;
        align-self: center;
        border-radius: 4px;
        padding: 10px;
        .call-list {
            margin-top: 5px;
        }
    }
    .channel {
        padding: 15px;
        margin-top: 20px;
        width: 85%;
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            width: 80%;
        }
        align-self: center;
    }

    .channel-button:disabled,
    .channel-button[disabled] {
        background: #232323;
        cursor: not-allowed;
        box-shadow: none;
    }
    .channel-button {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
        width: 130px;
        color: #eeeeff;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: 0.2s;
        position: relative;
    }
    .notif {
        position: absolute;
        background: #931621;
        border-radius: 50%;
        right: 5px;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        z-index: 4;
        text-align: center;
    }
    .channel-button:hover {
        -webkit-box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
        -moz-box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
        box-shadow: 2px 0px 0px 0px rgba(147, 22, 33, 1);
        transition: 0.2s;
    }
    .user-call {
        display: block;
        cursor: pointer;
        user-select: none;
        width: 130px;
        color: #eeeeff;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: 0.2s;
    }
    .users {
        background: #131313;
        height: 100vh;
        width: 150px;
        padding-top: 5px;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    }
    .messages {
        padding: 10px;
        position: relative;
        height: 80vh;
        @media only screen and (max-height: 900px) {
            height: 70vh;
        }
        scroll-behavior: smooth;
        background: #131313;
        border-radius: 4px 4px 0px 0px;
        overflow-y: auto;
    }
    .disconnect-button {
        float: right;
        display: inline;
    }
    .host-title {
        display: inline;
    }
    .server-info {
        background: #131313;
        margin-top: 25px;
        padding: 20px;
        z-index: 2;
        height: 50px;
        border-bottom: #333333 solid 1px;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    }
    .motd {
        position: absolute;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 15s linear infinite;
        -webkit-animation: scroll-left 15s linear infinite;
        animation: scroll-left 15s linear infinite;
        user-select: none;
    }
    .incall {
        width: 85%;
    }
    .message-send {
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0px 0px 4px 4px;
    }
    .incall-input {
        width: 76%;
    }
    .panel {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 150px;
        top: 100px;
        right: 0;
    }
    .message-holder {
        list-style-type: none;
        display: flex;
        margin: 5px;
        &.mine {
            justify-content: space-between;
        }
        .message {
            background: #1d1d1d;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px;
            width: 400px;
            &.mine {
                background: linear-gradient(to bottom left,#6e1018,#931621);
            }
            .message-content {
                display: inline;
                color: #ccc;
            }
    
            .message-content .text-normal {
                margin-left: 5px;
                overflow-wrap: break-word;
                text-align: justify;
                display: inline;
            }
            .signature-check {
                float: right;
                display: inline;
                cursor: pointer;
                &:active .hover {
                    display: block;
                }
            }
            .signature-check .hover {
                display: none;
                color: #ccc;
                position: absolute;
                right: 5%;
                margin-top: -22px;
                max-width: 350px;
                word-break: break-all;
                background: #232323;
                padding: 4px;
            }
        }
    }
    .hidden {
        display: none;
    }
    .show {
        display: initial;
    }
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100vw);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100vw);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100vw);
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
    }
}
